<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text"
               class="form-control"
               placeholder="Buscar hospital..."
               #searchText
               (keyup)="searchHospitales(searchText.value)">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Hospitales ({{ hospitales.length }})</h4>
            <h6 class="card-subtitle">Hospitales Registrados</h6>
          </div>
          <div class="col-4">
            <div class="text-right">
              <button class="btn btn-primary"
                      (click)="openSweetAlertCreateHospital()">
                <i class="fa fa-hospital-o"></i>
                Crear Hospital
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="w100">Imagen</th>
              <th>Nombre</th>
              <th class="text-nowrap w100">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hospital of hospitales">
              <td class="text-center">
                <img [src]="hospital.image | image:'hospitales'"
                     [alt]="hospital.name"
                     class="avatar cursor"
                     (click)="showModal(hospital)">
              </td>
              <td>
                <input type="text"
                       class="form-control"
                       placeholder="Nombre Hospital"
                       [(ngModel)]="hospital.name">
              </td>
              <td class="text-nowrap text-center">
                <a (click)="saveChanges(hospital)"
                   data-toggle="tooltip"
                   class="cursor"
                   data-original-title="Guardar cambios">
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a (click)="deleteHospital(hospital)"
                   data-toggle="tooltip"
                   class="cursor"
                   data-original-title="Eliminar">
                  <i class="fa fa-close text-danger"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--TODO-->
        <!--
        <button class="btn btn-secondary">Anterior</button>
        &nbsp;
        <button class="btn btn-secondary">Siguiente</button>
        -->
      </div>
    </div>
  </div>
</div>
